Options +FollowSymlinks -Indexes -MultiViews

RewriteEngine on
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule . index.php [L]

<FilesMatch "^\.">
Order Allow,Deny
Deny from all
</FilesMatch>

